/**** Globals ****/
button {
  padding: 12px 20px;
  border: none;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 500;
  color: white;
}
.gold {
  background-color: #CCA43A;
}
.blue {
  background-color: #091D45;
}
.mgn-top-forty {
  margin-top: 40px;
}
/*****************/
@media screen and (min-width: 1200px) {
  #navigation-header .container.navigation,
  #site-footer .container.navigation,
  #navigation-header .container.footer,
  #site-footer .container.footer {
    max-width: 960px !important;
  }
}
#navigation-header .container span.link-left,
#site-footer .container span.link-left,
#navigation-header .container span.link-right,
#site-footer .container span.link-right {
  letter-spacing: .4px;
  font-weight: 100;
  font-size: 16px;
  font-family: "Futura Std" sans-serif serif;
}
#navigation-header .container span.link-left,
#site-footer .container span.link-left {
  text-align: left;
}
#navigation-header .container span.link-right,
#site-footer .container span.link-right {
  text-align: right;
}
#navigation-header .container span.title,
#site-footer .container span.title {
  letter-spacing: 4px;
  padding: 0;
  text-align: center;
  font-family: Butler sans-serif serif;
}
#navigation-header .container span.title .second,
#site-footer .container span.title .second {
  letter-spacing: .4px;
  color: #CCA43A;
  font-style: italic;
  padding: 0 12px 0 8px;
}
#navigation-header {
  color: white;
  padding: 30px 0;
  background: #091D45;
  margin-bottom: -1px;
}
@media screen and (min-width: 992px) {
  #navigation-header {
    margin-bottom: 0;
  }
}
#navigation-header span.link-left,
#navigation-header span.link-right {
  padding: 0;
}
#navigation-header span.title {
  font-size: 18px;
}
.landing-section {
  min-height: 550px;
}
.landing-section#hero {
  background-color: #091D45;
  padding: 130px 150px;
}
.landing-section#hero #hero-text-box {
  width: 560px;
  min-height: 150px;
  color: white;
}
.landing-section#hero #hero-text-box h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
}
.landing-section#hero #hero-text-box p {
  margin: 0;
  line-height: 32px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.landing-section#gallery {
  background-color: #F9F9F9;
  padding: 60px 148px;
}
.landing-section#gallery h4 {
  width: 100%;
  color: #CCA43A;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 30px;
}
.landing-section#gallery .gallery-item-container .gallery-item-card {
  border: 1px solid #c3c3c3;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .image {
  height: 315px;
  background-size: cover;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .image.one {
  background-image: url("/static/images/stock/lamp.jpg");
}
.landing-section#gallery .gallery-item-container .gallery-item-card .image.two {
  background-image: url("/static/images/stock/chair.jpg");
}
.landing-section#gallery .gallery-item-container .gallery-item-card .image.three {
  background-image: url("/static/images/stock/horse.jpg");
}
.landing-section#gallery .gallery-item-container .gallery-item-card .image.four {
  background-image: url("/static/images/stock/armoire.jpg");
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info {
  height: 80px;
  padding: 20px;
  background: white;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info .name,
.landing-section#gallery .gallery-item-container .gallery-item-card .info .price {
  display: block;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info .name {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #192C54;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info .price {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #CCA43A;
}
/**** CUSTOM SECTIONS ****/
.two-section-image-right .left,
.two-section-image-left .left,
.two-section-image-right .right,
.two-section-image-left .right {
  height: 640px;
}
.two-section-image-right .content h3,
.two-section-image-left .content h3 {
  line-height: 41px;
  color: #CCA43A;
  font-weight: 500;
  font-size: 34px;
}
.two-section-image-right .content p,
.two-section-image-left .content p {
  color: #6C6C6C;
  font-weight: 500;
  letter-spacing: .4px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}
.two-section-image-left {
  background-color: #f9f9f9;
}
.two-section-image-left .content {
  padding: 200px 200px 150px 0px;
}
.two-section-image-left .image {
  background-image: url("/static/images/stock/lake_image_stock.png");
  background-size: cover;
}
.two-section-image-right {
  background-color: white;
}
.two-section-image-right .content {
  padding: 200px 100px 150px 150px;
}
.two-section-image-right .image {
  background-image: url("/static/images/stock/estate_sale_stock.png");
  background-size: cover;
}
#site-footer {
  color: white;
  padding: 95px 0;
  background-color: #141414;
}
#site-footer span.link-left,
#site-footer span.link-right {
  padding: 5px 0 0 0;
  opacity: .5;
}
#site-footer span.title {
  font-size: 24px;
}
