# NPM and Node related files/folders
node_modules/
package.json

# Local Dev
db.sqlite3

# Static Assets
/static

# Compiled python files in all directories/sub-directories
*.pyc

# Pycharm configuration settings
.idea

**/*.DS_STORE

media/

*.DS_Store

lifetimeoftreasures/static