<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/less/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div id="navigation-header" style="color: white; padding: 30px 0; width: 100%; background: #091D45;">
    <div class="navigation container" style="padding: 0;">
            <span class="link-left">
                Home
            </span>
        <span class="link-left">
            Catalog
        </span>
        <span class="title">
            <span class="first">LIFETIME</span> <span class="second">of</span> <span class="third">TREASURES</span>
        </span>
        <span class="link-right">
            Estate Sales
        </span>
        <span class="link-right">
            About
        </span>
    </div>
</div>

<div id="hero" class="landing-section col-xs-12">
    <div id="hero-text-box">
        <h3>What this site is</h3>
        <p class="text-left">
            Aenean lacinia bibendum nulla sed consectetur. 
            Sed posuere consectetur est at lobortis. Maecenas 
            sed diam eget risus varius blandit sit amet non 
            magna. Donec sed odio dui.
        </p>
        <button>
            Browse Catalog
        </button>
    </div>
</div>
<div id="gallery" class="landing-section col-xs-12">
</div>
<div id="service" class="landing-section col-xs-12">
</div>
<div id="about-us" class="landing-section col-xs-12">
</div>

<div id="site-footer">
</div>

</body>
</html>