{% extends 'base.html' %}

{% block body %}
    <div id="catalog">
        <div id="filter-toolbar">
            <span>Our Catalog</span>

            <div class="select-container">
                <label>
                    <select>
                        <option value="" disabled selected>Filter by category</option>
                        <option value="furniture">Furniture</option>
                        <option value="furniture">Jewelry</option>
                        <option value="furniture">Art</option>
                        <option value="furniture">Currency</option>
                    </select>
                </label>
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div id="inventory" class="container-fluid col-xs-12">
            <div class="row">
                {% for item in inventory %}
                    <div class="col-3 gallery-item-container">
                        <div class="gallery-item-card">
                            <div class="image" style="background-image: url('/{{ item.image }}')"></div>
                            <div class="info">
                                <span class="name">{{ item.name }}</span>
                                <span class="price">${{ item.price }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="inventory-pagination col-3">
                    <a class="prev-arrow" href="?page={% if inventory.has_previous %}{{ inventory.previous_page_number }}{% else %}#{% endif %}">
                        <i class="fal fa-long-arrow-left" style="color: #C6A141"></i>
                    </a>

                    <span class="page-set">
                        {% for page in page_set %}
                            <a href="?page={{ page }}">{{ page }}</a>
                        {% endfor %}
                    </span>

                    <a class="next-arrow" href="?page={% if inventory.has_next %}{{ inventory.next_page_number }}{% else %}#{% endif %}">
                        <i class="fal fa-long-arrow-right" style="color: #C6A141"></i>
                    </a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
{% endblock %}