{% extends 'base.html' %}

{% block body %}
    <div id="home-hero" class="hero landing-section home col-xs-12">
        <div id="hero-text-box">
            <h3>Passionate Estate Sale Planning</h3>
            <p class="text-left">
                Estate sales have been a huge part of our lives, and together we have decades of
                experience. We have a rich and diverse collection of antiques, art, furniture
                and more, or if you desire assistance setting up an estate sale, we would be happy
                to help!
            </p>
            <a href="/catalog">
                <button class="gold">
                    Browse Catalog
                </button>
            </a>
        </div>
    </div>

    <div id="gallery" class="container-fluid landing-section col-xs-12">
        <div class="row">
            <h4>Featured Pieces from our Catalog</h4>

            {% for item in inventory_preview %}
                <div class="col gallery-item-container">
                    <div class="gallery-item-card">
                        <div class="image" style="background-position: center; border-bottom: 1px solid #d6d6d6; background-image: url('media/{{ item.image }}')"></div>
                        <div class="info">
                            <span class="name">{{ item.name }}</span>
                            <span class="price">${{ item.price }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-12 mgn-top-forty text-center">
                <a href="/catalog">
                    <button class="blue">Browse Catalog</button>
                </a>
            </div>
        </div>
    </div>

    <div class="two-section-image-right col-12">
        <div class="row">
            <div class="col-6 content">
                <h3>Estate Sale Planning</h3>
                <p>
                    Sometimes in life we have to let go of some of our most
                    prized possessions. We know this can
                    be difficult on top of the tedious process of
                    setting up an estate sale. At <i>A Lifetime of Treasures</i>,
                    we take that stress off your back, planning, organizing,
                    and managing the entire process. From cataloging all of
                    the items that you are parting ways with, to advertising the
                    sale, all the way to managing the sale while it's happening,
                    we take care of it all.
                </p>
                <a href="/estate-sales">
                    <button class="blue">Learn More</button>
                </a>
            </div>
            <div class="col-6 image"></div>
        </div>
    </div>

    <div class="two-section-image-left landing col-12">
        <div class="row">
            <div class="col-6 image"></div>
            <div class="col-6 content">
                <h3>Who We Are</h3>
                <p>
                    We are two friends from Billings Montana who have known each other since we
                    were young adults, and share the same passion for antiquities and estate sales.
                    Together, we started <i>A Lifetime of Treasures</i>, because we cherish family
                    values and understand the importance of priceless treasures such as heirlooms,
                    and understand how difficult it is to part with them.
                </p>
                <a href="/about-us">
                    <button class="blue">Learn More</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}