{% extends 'base.html' %}

{% block body %}
<div id="hero" class="landing-section col-xs-12">
    <div id="hero-text-box">
        <h3>What this site is</h3>
        <p class="text-left">
            Aenean lacinia bibendum nulla sed consectetur.
            Sed posuere consectetur est at lobortis. Maecenas
            sed diam eget risus varius blandit sit amet non
            magna. Donec sed odio dui.
        </p>
        <button class="gold">
            Browse Catalog
        </button>
    </div>
</div>

<div id="gallery" class="container-fluid landing-section col-xs-12">
    <div class="row">
        <h4>Our Catalog</h4>

        <div class="col gallery-item-container">
            <div class="gallery-item-card">
                <div class="image one"></div>
                <div class="info">
                    <span class="name">Fancy Lamp</span>
                    <span class="price">$99.00</span>
                </div>
            </div>
        </div>
        <div class="col gallery-item-container">
            <div class="gallery-item-card">
                <div class="image two"></div>
                <div class="info">
                    <span class="name">Red Chair</span>
                    <span class="price">$99.00</span>
                </div>
            </div>
        </div>
        <div class="col gallery-item-container">
            <div class="gallery-item-card">
                <div class="image three"></div>
                <div class="info">
                    <span class="name">Ceramic Horse</span>
                    <span class="price">$99.00</span>
                </div>
            </div>
        </div>
        <div class="col gallery-item-container">
            <div class="gallery-item-card">
                <div class="image four"></div>
                <div class="info">
                    <span class="name">Antique Armoire</span>
                    <span class="price">$99.00</span>
                </div>
            </div>
        </div>

        <div class="col-12 mgn-top-forty text-center">
            <button class="blue">Browser Catalog</button>
        </div>
    </div>
</div>

<div class="two-section-image-right col-12">
    <div class="row">
        <div class="col-6 content">
            <h3>Estate Sale Planning</h3>
            <p>
                Aenean lacinia bibendum nulla sed consectetur.
                Sed posuere consectetur est at lobortis. Maecenas
                sed diam eget risus varius blandit sit amet non
                magna. Donec sed odio dui.
            </p>
            <button class="blue">Learn More</button>
        </div>
        <div class="col-6 image"></div>
    </div>
</div>

<div class="two-section-image-left col-12">
    <div class="row">
        <div class="col-6 image"></div>
        <div class="col-6 content">
            <h3>Estate Sale Planning</h3>
            <p>
                Aenean lacinia bibendum nulla sed consectetur.
                Sed posuere consectetur est at lobortis. Maecenas
                sed diam eget risus varius blandit sit amet non
                magna. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.
            </p>
            <button class="blue">Contact Us</button>
        </div>
    </div>
</div>
{% endblock %}