// out: ../css/main.css, ../less/main.less

/**** Globals ****/
button {
  padding: 12px 20px;
  border: none;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 500;
  color: white;
}

.gold {
  background-color: #CCA43A;
}

.blue {
  background-color: #091D45;
}

.mgn-top-forty {
  margin-top: 40px;
}
/*****************/

/**** Modals *****/
.modal {
  &.fade {
    .modal-dialog {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &#mod-dia-info {
        @media screen and (min-width: 576px) {
          max-width: 870px !important;
        }

        .modal-content {
          #product-modal-info {
            h3 {
              font-family: Butler, sans-serif;
              color: #091D45;
              font-size: 26px;
              font-weight: bold;
              letter-spacing: -0.2px;
              line-height: 31px;
              margin: 0;
            }

            .product-modal-price {
              color: #CCA43A;
              font-family: Futura, sans-serif;
              font-size: 20px;
              font-weight: 500;
              line-height: 27px;
              margin-bottom: 10px;
            }

            .product-modal-description {
              color: #6C6C6C;
              font-family: Futura Std, sans-serif;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 0.4px;
              line-height: 22px;
            }

            #product-modal-msg-send {
              background: #091D45;

              p, h5, button {
                color: white;
                font-family: "Futura Std", sans-serif;
                font-weight: 500;
              }

              p {
                font-size: 12px;
                letter-spacing: 4px;
                line-height: 14px;
                text-align: center;
              }

              button {
                background: #C6A141;
                color: white;
                font-size: 20px;
                letter-spacing: .4px;
                line-height: 25px;
                width: 100%;
              }

              h5 {
                font-size: 18px;
                letter-spacing: 3.55px;
                line-height: 22px;
                text-align: center;
                margin-top: 25px;
              }
            }
          }
        }
      }

      &#mod-dia-interest {
        background: yellow;
        
        .modal-content {
          #product-modal-info {
            .interest-intro {
              font-family: Butler, sans-serif;
              color: #091D45;;
              font-size: 20px;
              font-weight: bold;
              letter-spacing: -0.15px;
              line-height: 24px;
              margin: 0 0 20px 0;
            }

            #product-media-object {
              margin-bottom: 25px;
              
              .row {
                margin: 0;
              }

              #product-image {
                padding: 0;
                background-image: url('/media/inventory/thomaskinkade.jpg');
                background-size: cover;
                background-position: center;
              }

              #product-details {
                border: 1px solid #EDECEC;
                padding: 20px;

                h3 {
                  margin: 0;
                  color: #091D45;
                  font-family: Butler, sans-serif;
                  font-size: 20px;
                  font-weight: bold;
                  letter-spacing: -0.15px;
                  line-height: 24px;
                }

                p {
                  margin: 0;
                  color: #CCA43A;
                  font-family: Future, sans-serif;
                  font-size: 15px;
                  line-height: 20px;
                  font-weight: 500;
                }
              }
            }
            
            form {
              button {
                background: #091D45;
              }
              
              label {
                margin-bottom: 15px;
                
                &#first-name {
                  padding-right: 10px;
                }
                
                &#last-name {
                  padding-left: 10px;
                }
                
                input, textarea {
                  line-height: 19px;
                  border: 1px solid #E5E3E3;
                  width: 100%;
                  padding: 13px 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*****************/

/****** ESTATE SALES ******/
#estate-sale-planning-service {
  background: #F9F9F9;
  padding: 180px 160px 110px 160px;
  
  h1 {
    font-size: 34px;
    color: #C6A141;
    font-weight: 500;
    line-height: 41px;
  }
  
  #services {
    margin-bottom: 40px;
    
    .service {
      .title {
        font-family: "Butler", sans-serif;
        color: #091D45;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
      .description {
        color: #6C6C6C;
        font-family: "Futura Std", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.31px;
        line-height: 24px;
      }
    }
  }
}
/**************************/

#navigation-header, #site-footer {
  a {
    text-decoration: none;
  }

  .container {
    &.navigation, &.footer {
      @media screen and (min-width: 1200px) {
        max-width: 960px !important;
      }
    }

    span {
      &.link-left, &.link-right {
        letter-spacing: .4px;
        font-weight: 100;
        font-size: 16px;
        font-family: "Futura Std", sans-serif serif;
      }

      &.link-left {
        text-align: left;
      }

      &.link-right {
        text-align: right;
      }

      &.title {
        cursor: default;
        letter-spacing: 4px;
        padding: 0;
        text-align: center;
        font-family: Butler sans-serif serif;

        .second {
          letter-spacing: .4px;
          color: #CCA43A;
          font-style: italic;
          padding: 0 12px 0 8px;
        }

      }
    }
  }
}

#navigation-header {
  color: white;
  padding: 30px 0;
  background: #091D45;
  margin-bottom: -1px;

  a {
    color: white;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: 0;
  }

  span {
    &.link-left, &.link-right {
      padding: 0;
      
      @media screen and (max-width: 991px){
        font-size: 14px !important;
      }

      span {
        padding: 0 7px 7px 7px;
        cursor: pointer;

        &.current-page {
          border-bottom: 3px solid #C6A141;
        }
      }
    }

    &.link-left {
      margin-left: -7px;
    }

    &.link-right {
      margin-right: -7px;
    }

    &.title {
      font-size: 18px;
    }
  }
}

#home-hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/static/images/stock/antiques_stock.jpg);
  background-attachment: fixed;
}

#about-us-hero {
  position: relative;
  background-image: url("/static/images/stock/canyon.png");
  background-attachment: fixed;
  
  #az-png {
    position: absolute;
    top: 90px;
    right: 250px;
  }
}

.landing-section {
  min-height: 550px;

  &.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 150px;

    #hero-text-box {
      width: 560px;
      min-height: 150px;
      color: white;

      h3 {
        font-weight: 500;
        font-size: 34px;
        line-height: 41px;
      }

      p {
        margin: 0;
        line-height: 32px;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 48px;
      }
    }
  }

  &#gallery {
    background-color: #F9F9F9;
    padding: 60px 148px;

    h4 {
      width: 100%;
      color: #CCA43A;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 30px;
    }

    .gallery-item-container {
      .gallery-item-card {
        border: 1px solid #c3c3c3;

        .image {
          height: 315px;
          background-size: cover;

          &.one {
            background-image: url("/static/images/stock/lamp.jpg")
          }

          &.two {
            background-image: url("/static/images/stock/chair.jpg")
          }

          &.three {
            background-image: url("/static/images/stock/horse.jpg")
          }

          &.four {
            background-image: url("/static/images/stock/armoire.jpg")
          }
        }

        .info {
          height: 80px;
          padding: 20px;
          background: white;

          .name, .price {
            display: block;
          }

          .name {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            color: #192C54;
          }

          .price {
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            color: #CCA43A;
          }
        }
      }
    }
  }
}

/**** CUSTOM SECTIONS ****/
.two-section-image-right, .two-section-image-left {
  .left, .right {
    height: 640px;
  }

  .content {
    h3 {
      line-height: 41px;
      color: #CCA43A;
      font-weight: 500;
      font-size: 34px;
    }

    p {
      color: #6C6C6C;
      font-weight: 500;
      letter-spacing: .4px;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 40px;
    }
  }
}

.two-section-image-left {
  background-color: #f9f9f9;

  .content {
    padding: 200px 200px 150px 0;
  }
  
  &.estate-sales-smaller-project {
    .image {
      background-image: url("/static/images/stock/smaller_projects.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content {
      background-color: white;
      padding: 100px;
      
      h3 {
        color: #091D45;
        font-size: 34px;
        font-weight: 500;
        line-height: 41px;
        font-family: Butler, sans-serif;
        margin-bottom: 45px;
      }
      
      .p-title {
        color: #C6A141;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.7px;
        line-height: 21px;
        font-family: Futura, sans-serif;
        margin-bottom: 10px;
      }
      
      .p-text {
        margin-bottom: 50px;
        padding-right: 460px;
      }
    }
  }
  
  &.about-us-who-we-are {
    .image {
      background-image: url("/static/images/stock/lake_stock_png.png");
      background-size: 75%;
      background-position-x: center;
      background-position-y: 70%;
      background-repeat: no-repeat;
    }
    .content {
      padding: 180px 150px 180px 60px;
    }
  }
  
  &.about-us-our-vision {
    .image {
      background-image: url("/static/images/stock/our_vision.png")
    }
    .content {
      padding: 160px 80px 150px 100px;
    }
  }
  
  &.about-us-our-values {
    .image {
      background-image: url("/static/images/stock/our_values.jpg");
    }
    .content {
      padding: 150px 100px 150px 100px;
    }
  }
  
  &.landing {
    .image {
      background-image: url("/static/images/stock/lake_image_stock.png");
      background-size: cover;
    }
  }
}

.two-section-image-right {
  background-color: white;

  .content {
    padding: 200px 100px 150px 150px;
  }

  .image {
    background-image: url("/static/images/stock/estate_sale_stock.png");
    background-size: cover;
  }
  
  &.estate-sale-overflow {
    img {
      height: 530px;
      width: 560px;
      z-index: 1;
      position: absolute;
      top: 80px;
    }
    
    .content {
      padding: 150px 70px 170px 150px;
      
      h3 {
        color: #091D45;
      }
    }
  }
}

#site-footer {
  color: white;
  padding: 95px 0;
  background-color: #141414;

  span {
    &.link-left, &.link-right {
      padding: 5px 0 0 0;
      opacity: .5;
    }

    &.title {
      font-size: 24px;
    }
  }
}

/******** CATALOG ********/
#catalog {
  #filter-toolbar {
    border: 1px solid black;
    padding: 20px 150px;

    span {
      color: #192C54;
      font-family: Butler sans-serif serif;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
    }

    .select-container {
      float: right;
      position: relative;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 10px 4px 10px;

        border: 1px solid #EDECEC;
        border-radius: 2px;
        background: white;
        float: right;

        line-height: 21px;
        font-weight: 500;
        font-size: 16px;
        color: #ACACAC;
        font-family: sans-serif;
        width: 250px;
      }

      .fa-caret-down {
        color: #CCA43A;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-90%);
      }
    }
  }

  #inventory {
    padding: 50px 150px;
    background: #F9F9F9;

    .gallery-item-container {
      margin-bottom: 20px;

      .gallery-item-card {
        border: 1px solid #c3c3c3;

        .image {
          height: 315px;
          background-size: cover;
          background-position: center;
          background-color: black;
        }

        .info {
          height: 80px;
          padding: 20px;
          background: white;

          .name, .price {
            display: block;
          }

          .name {
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            color: #192C54;
          }

          .price {
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            color: #CCA43A;
          }
        }
      }
    }

    .inventory-pagination {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      font-family: 'Futura', sans-serif;
      text-decoration: none;
      margin-top: 30px;

      .prev-arrow {
        margin-right: 34px;
      }

      .next-arrow {
        margin-left: 34px;
      }

      .page-set {
        a {
          color: #6C6C6C;
          padding: 0 14px;
        }
      }
    }
  }
}

#contact-form {
  .col-7 {
    flex: 0 0 52% !important;
    max-width: 52% !important;
  }

  .col-5 {
    flex: 0 0 48% !important;
    max-width: 48% !important;
  }

  #lot-form {
    background: linear-gradient(#F9F9F9, #efefef);
    padding: 60px 0 100px 130px;
    
    .success-message {
      position: relative;
      
      #close-success-message {
        position: absolute;
        right: 8px;
        top: 8px;
        color: white;
        font-weight: 500;
      }
      
      &.hidden {
        opacity: 0;
      }
      
      &.visible {
        opacity: 1;
        padding: 15px 20px;
        color: white;
        background: #37cc5a;
        border: 2px solid #2eb74e;
        border-radius: 4px;
        margin-bottom: 15px;
      }
    }

    form {
      background-color: white;
      padding: 30px;
      margin-bottom: 20px;
      
      span {
        &.error-msg {
          font-size: 12px;
          color: #dc3545;
        }
      }

      button {
        background: #CCA43A;
        padding: 10px 20px;
        color: white;
      }

      label {
        margin-bottom: 15px;

        &#first-name, &#phone {
          padding-right: 10px !important;
        }

        &#last-name, &#subject {
          padding-left: 10px !important;
        }

        input, select, textarea {
          width: 100%;
          border-radius: 4px;
          
          &.error {
            border: 1px solid #dc3545;
          }
        }

        ::placeholder {
          color: rgba(108, 108, 108, 0.6);
        }

        input, textarea, select {
          padding: 10px 15px;
          border: 1px solid #F3F2F2;
        }

        select {
          padding: 12px 15px;
          border: 1px solid #F3F2F2;
          background: white;
        }
      }
    }

    #contact-info {
      background: white;
      padding: 30px;

      .address {
        p {
          margin: 0;
          letter-spacing: .36px;
          font-size: 16px;
          color: #6C6C6C;
          font-weight: 500;
          line-height: 26px;
        }
      }

      .phone-number {
        p {
          margin: 0;
          line-height: 35px;
          letter-spacing: -.15px;
          color: #091D45;
          font-weight: bold;
          font-size: 29px;
        }
      }
    }
  }

  #lot-form-img {
    background-image: url('/static/images/stock/contact_stock.png');
    padding: 60px 0 100px 130px;
    background-size: 100% 100%;
  }
}
