/**** Globals ****/
button {
  padding: 12px 20px;
  border: none;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 500;
  color: white;
}
.gold {
  background-color: #CCA43A;
}
.blue {
  background-color: #091D45;
}
.mgn-top-forty {
  margin-top: 40px;
}
/*****************/
/**** Modals *****/
.modal.fade .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 576px) {
  .modal.fade .modal-dialog#mod-dia-info {
    max-width: 870px !important;
  }
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-target {
  min-width: 900px;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info {
  padding: 40px 30px;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info i {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #C6A141;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info h3 {
  font-family: Butler, sans-serif;
  color: #091D45;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 31px;
  margin: 0;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info .product-modal-price {
  color: #CCA43A;
  font-family: Futura, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 10px;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info .product-modal-description {
  color: #6C6C6C;
  font-family: Futura Std, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 22px;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send {
  background: #091D45;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send p,
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send h5,
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send button {
  color: white;
  font-family: Futura Std, sans-serif;
  font-weight: 500;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send p {
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 14px;
  text-align: center;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send button {
  background: #C6A141;
  color: white;
  font-size: 20px;
  letter-spacing: .4px;
  line-height: 25px;
  width: 100%;
}
.modal.fade .modal-dialog#mod-dia-info .modal-content #product-modal-info #product-modal-msg-send h5 {
  font-size: 18px;
  letter-spacing: 3.55px;
  line-height: 22px;
  text-align: center;
  margin-top: 25px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info .interest-intro {
  font-family: Butler, sans-serif;
  color: #091D45;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.15px;
  line-height: 24px;
  padding: 20px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info #product-media-object {
  padding: 0 20px;
  margin-bottom: 25px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info #product-media-object .row {
  margin: 0;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info #product-media-object #product-image {
  border-left: 1px solid #EDECEC;
  border-top: 1px solid #EDECEC;
  border-bottom: 1px solid #EDECEC;
  padding: 0;
  background-size: cover;
  background-position: center;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info #product-media-object #product-details {
  border: 1px solid #EDECEC;
  padding: 20px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info #product-media-object #product-details h3 {
  margin: 0;
  color: #091D45;
  font-family: Butler, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.15px;
  line-height: 24px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info #product-media-object #product-details p {
  margin: 0;
  color: #CCA43A;
  font-family: Future, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form {
  padding: 0 20px 20px 20px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form button {
  background: #091D45;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form label {
  margin-bottom: 15px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form label#first-name {
  padding-right: 10px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form label#last-name {
  padding-left: 10px;
}
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form label input,
.modal.fade .modal-dialog#mod-dia-interest .modal-content #product-modal-info form label textarea {
  line-height: 19px;
  border: 1px solid #E5E3E3;
  width: 100%;
  padding: 13px 12px;
}
/*****************/
/****** ESTATE SALES ******/
#estate-sale-planning-service {
  background: #F9F9F9;
  padding: 180px 160px 110px 160px;
}
#estate-sale-planning-service h1 {
  font-size: 34px;
  color: #C6A141;
  font-weight: 500;
  line-height: 41px;
}
#estate-sale-planning-service #services {
  margin-bottom: 40px;
}
#estate-sale-planning-service #services .service .title {
  font-family: Butler, sans-serif;
  color: #091D45;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
#estate-sale-planning-service #services .service .description {
  color: #6C6C6C;
  font-family: Futura Std, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.31px;
  line-height: 24px;
}
/**************************/
#navigation-header a,
#site-footer a {
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  #navigation-header .container.navigation,
  #site-footer .container.navigation,
  #navigation-header .container.footer,
  #site-footer .container.footer {
    max-width: 960px !important;
  }
}
#navigation-header .container span.link-left,
#site-footer .container span.link-left,
#navigation-header .container span.link-right,
#site-footer .container span.link-right {
  letter-spacing: .4px;
  font-weight: 100;
  font-size: 16px;
  font-family: Futura Std, sans-serif, serif;
}
#navigation-header .container span.link-left,
#site-footer .container span.link-left {
  text-align: left;
}
#navigation-header .container span.link-right,
#site-footer .container span.link-right {
  text-align: right;
}
#navigation-header .container span.title,
#site-footer .container span.title {
  cursor: default;
  letter-spacing: 4px;
  padding: 0;
  text-align: center;
  font-family: Butler sans-serif serif;
}
#navigation-header .container span.title .second,
#site-footer .container span.title .second {
  letter-spacing: .4px;
  color: #CCA43A;
  font-style: italic;
  padding: 0 12px 0 8px;
}
#navigation-header {
  color: white;
  padding: 30px 0;
  background: #091D45;
  margin-bottom: -1px;
}
#navigation-header a {
  color: white;
}
@media screen and (min-width: 992px) {
  #navigation-header {
    margin-bottom: 0;
  }
}
#navigation-header span.link-left,
#navigation-header span.link-right {
  padding: 0;
}
@media screen and (max-width: 991px) {
  #navigation-header span.link-left,
  #navigation-header span.link-right {
    font-size: 14px !important;
  }
}
#navigation-header span.link-left span,
#navigation-header span.link-right span {
  padding: 0 7px 7px 7px;
  cursor: pointer;
}
#navigation-header span.link-left span.current-page,
#navigation-header span.link-right span.current-page {
  border-bottom: 3px solid #C6A141;
}
#navigation-header span.link-left {
  margin-left: -7px;
}
#navigation-header span.link-right {
  margin-right: -7px;
}
#navigation-header span.title {
  font-size: 18px;
}
#home-hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/static/images/stock/antiques_stock.jpg);
  background-attachment: fixed;
}
#about-us-hero {
  position: relative;
  background-image: url("/static/images/stock/canyon.png");
  background-attachment: fixed;
}
#about-us-hero #az-png {
  position: absolute;
  top: 90px;
  right: 250px;
}
.landing-section {
  min-height: 550px;
}
.landing-section.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 150px;
}
.landing-section.hero #hero-text-box {
  width: 560px;
  min-height: 150px;
  color: white;
}
.landing-section.hero #hero-text-box h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
}
.landing-section.hero #hero-text-box p {
  margin: 0;
  line-height: 32px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.landing-section#gallery {
  background-color: #F9F9F9;
  padding: 60px 148px;
}
.landing-section#gallery h4 {
  width: 100%;
  color: #CCA43A;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 30px;
}
.landing-section#gallery .gallery-item-container .gallery-item-card {
  border: 1px solid #c3c3c3;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .image {
  height: 315px;
  background-size: cover;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info {
  height: 80px;
  padding: 20px;
  background: white;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info .name,
.landing-section#gallery .gallery-item-container .gallery-item-card .info .price {
  display: block;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info .name {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #192C54;
}
.landing-section#gallery .gallery-item-container .gallery-item-card .info .price {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #CCA43A;
}
/**** CUSTOM SECTIONS ****/
.two-section-image-right .left,
.two-section-image-left .left,
.two-section-image-right .right,
.two-section-image-left .right {
  height: 640px;
}
.two-section-image-right .content h3,
.two-section-image-left .content h3 {
  line-height: 41px;
  color: #CCA43A;
  font-weight: 500;
  font-size: 34px;
}
.two-section-image-right .content p,
.two-section-image-left .content p {
  color: #6C6C6C;
  font-weight: 500;
  letter-spacing: .4px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}
.two-section-image-left {
  background-color: #f9f9f9;
}
.two-section-image-left .content {
  padding: 200px 200px 150px 0;
}
.two-section-image-left.estate-sales-smaller-project .image {
  background-image: url("/static/images/stock/smaller_projects.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.two-section-image-left.estate-sales-smaller-project .content {
  background-color: white;
  padding: 100px;
}
.two-section-image-left.estate-sales-smaller-project .content h3 {
  color: #091D45;
  font-size: 34px;
  font-weight: 500;
  line-height: 41px;
  font-family: Butler, sans-serif;
  margin-bottom: 45px;
}
.two-section-image-left.estate-sales-smaller-project .content .p-title {
  color: #C6A141;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.7px;
  line-height: 21px;
  font-family: Futura, sans-serif;
  margin-bottom: 10px;
}
.two-section-image-left.estate-sales-smaller-project .content .p-text {
  margin-bottom: 50px;
  padding-right: 460px;
}
.two-section-image-left.about-us-who-we-are .image {
  background-image: url("/static/images/stock/kayak.png");
  background-size: 75%;
  background-position-x: center;
  background-position-y: 70%;
  background-repeat: no-repeat;
}
.two-section-image-left.about-us-who-we-are .content {
  padding: 180px 150px 180px 60px;
}
.two-section-image-left.about-us-our-vision .image {
  background-image: url("/static/images/stock/our_vision.png");
}
.two-section-image-left.about-us-our-vision .content {
  padding: 160px 80px 150px 100px;
}
.two-section-image-left.about-us-our-values .image {
  background-image: url("/static/images/stock/our_values.jpg");
}
.two-section-image-left.about-us-our-values .content {
  padding: 150px 100px 150px 100px;
}
.two-section-image-left.landing .image {
  background-image: url("/static/images/stock/lake_image_stock.png");
  background-size: cover;
}
.two-section-image-right {
  background-color: white;
}
.two-section-image-right .content {
  padding: 200px 100px 150px 150px;
}
.two-section-image-right .image {
  background-image: url("/static/images/stock/estate_sale_stock.png");
  background-size: cover;
}
.two-section-image-right.estate-sale-overflow img {
  height: 530px;
  width: 560px;
  z-index: 1;
  position: absolute;
  top: 80px;
}
.two-section-image-right.estate-sale-overflow .content {
  padding: 150px 70px 170px 150px;
}
.two-section-image-right.estate-sale-overflow .content h3 {
  color: #091D45;
}
#site-footer {
  color: white;
  padding: 95px 0;
  background-color: #141414;
}
#site-footer span.link-left,
#site-footer span.link-right {
  padding: 5px 0 0 0;
  opacity: .5;
}
#site-footer span.title {
  font-size: 24px;
}
#site-footer span.link-left:hover {
  opacity: 1;
}
#site-footer span.link-right:hover {
  opacity: 1;
}
/******** CATALOG ********/
#catalog #filter-toolbar {
  border: 1px solid black;
  padding: 20px 150px;
}
#catalog #filter-toolbar span {
  color: #192C54;
  font-family: Butler, sans-serif, serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}
#catalog #filter-toolbar .select-container {
  float: right;
  position: relative;
}
#catalog #filter-toolbar .select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px 4px 10px;
  border: 1px solid #EDECEC;
  border-radius: 2px;
  background: white;
  float: right;
  line-height: 21px;
  font-weight: 500;
  font-size: 16px;
  color: #ACACAC;
  font-family: sans-serif;
  width: 250px;
}
#catalog #filter-toolbar .select-container .fa-caret-down {
  color: #CCA43A;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-90%);
}
#catalog #inventory {
  padding: 50px 150px;
  background: #F9F9F9;
}
#catalog #inventory .gallery-item-container {
  margin-bottom: 20px;
}
#catalog #inventory .gallery-item-container .gallery-item-card {
  border: 1px solid #c3c3c3;
}
#catalog #inventory .gallery-item-container .gallery-item-card .image {
  height: 315px;
  background-size: cover;
  background-position: center;
  background-color: black;
}
#catalog #inventory .gallery-item-container .gallery-item-card .info {
  height: 80px;
  padding: 20px;
  background: white;
}
#catalog #inventory .gallery-item-container .gallery-item-card .info .name,
#catalog #inventory .gallery-item-container .gallery-item-card .info .price {
  display: block;
}
#catalog #inventory .gallery-item-container .gallery-item-card .info .name {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #192C54;
}
#catalog #inventory .gallery-item-container .gallery-item-card .info .price {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #CCA43A;
}
#catalog #inventory .inventory-pagination {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: Futura, sans-serif;
  text-decoration: none;
  margin-top: 30px;
}
#catalog #inventory .inventory-pagination .prev-arrow {
  margin-right: 34px;
}
#catalog #inventory .inventory-pagination .next-arrow {
  margin-left: 34px;
}
#catalog #inventory .inventory-pagination .page-set a {
  color: #6C6C6C;
  padding: 0 14px;
}
#contact-form .col-7 {
  flex: 0 0 52% !important;
  max-width: 52% !important;
}
#contact-form .col-5 {
  flex: 0 0 48% !important;
  max-width: 48% !important;
}
#contact-form #lot-form {
  background: linear-gradient(#F9F9F9, #efefef);
  padding: 60px 0 100px 130px;
}
#contact-form #lot-form .success-message {
  position: relative;
}
#contact-form #lot-form .success-message #close-success-message {
  position: absolute;
  right: 8px;
  top: 8px;
  color: white;
  font-weight: 500;
}
#contact-form #lot-form .success-message.hidden {
  opacity: 0;
}
#contact-form #lot-form .success-message.visible {
  opacity: 1;
  padding: 15px 20px;
  color: white;
  background: #37cc5a;
  border: 2px solid #2eb74e;
  border-radius: 4px;
  margin-bottom: 15px;
}
#contact-form #lot-form form {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}
#contact-form #lot-form form span.error-msg {
  font-size: 12px;
  color: #dc3545;
}
#contact-form #lot-form form button {
  background: #CCA43A;
  padding: 10px 20px;
  color: white;
}
#contact-form #lot-form form label {
  margin-bottom: 15px;
}
#contact-form #lot-form form label#first-name,
#contact-form #lot-form form label#phone {
  padding-right: 10px !important;
}
#contact-form #lot-form form label#last-name,
#contact-form #lot-form form label#subject {
  padding-left: 10px !important;
}
#contact-form #lot-form form label input,
#contact-form #lot-form form label select,
#contact-form #lot-form form label textarea {
  width: 100%;
  border-radius: 4px;
}
#contact-form #lot-form form label input.error,
#contact-form #lot-form form label select.error,
#contact-form #lot-form form label textarea.error {
  border: 1px solid #dc3545;
}
#contact-form #lot-form form label ::placeholder {
  color: rgba(108, 108, 108, 0.6);
}
#contact-form #lot-form form label input,
#contact-form #lot-form form label textarea,
#contact-form #lot-form form label select {
  padding: 10px 15px;
  border: 1px solid #F3F2F2;
}
#contact-form #lot-form form label select {
  height: 100%;
  border: 1px solid #F3F2F2;
  background: white;
}
#contact-form #lot-form #contact-info {
  background: white;
  padding: 30px;
}
#contact-form #lot-form #contact-info .address p {
  margin: 0;
  letter-spacing: .36px;
  font-size: 16px;
  color: #6C6C6C;
  font-weight: 500;
  line-height: 26px;
}
#contact-form #lot-form #contact-info .phone-number p {
  margin: 0;
  line-height: 24px;
  letter-spacing: -0.15px;
  color: #091D45;
  font-weight: bold;
  font-size: 14px;
}
#contact-form #lot-form-img {
  background-image: url('/static/images/stock/contact_stock.png');
  padding: 60px 0 100px 130px;
  background-size: 100% 100%;
}
