{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div id="about-us-hero" class="hero landing-section about-us col-xs-12">
        <div id="hero-text-box">
            <h3>About Us</h3>
            <p class="text-left">
                We are two life long friends, who share
                a passion for antiquities and estate sale planning.
            </p>
            <a href="/catalog">
                <button class="gold">
                    Browse Catalog
                </button>
            </a>
        </div>
        <div id="az-png">
            <img src="/static/images/stock/az_est_png.png" alt="">
        </div>
    </div>
    <div class="two-section-image-left about-us-who-we-are col-12">
        <div class="row">
            <div class="col-6 image"></div>
            <div class="col-6 content">
                <h3>Who We Are</h3>
                <p>
                    Our names are Desireé and Pam. We met each other as young adults working
                    together at a nursing home while attending college in Billings, Montana.
                    Although we have moved away, now living and operating out of Arizona, our
                    values still stem from our upbringing up north, where hard work, family, and the
                    community are all very important to us. We fell in love with antiquities, and
                    the stories that they can tell us. This eventually led us to estate sales which
                    we hold great passion for.
                </p>
                <a href="/contact">
                    <button class="blue">Contact Us</button>
                </a>
            </div>
        </div>
    </div>
    <div class="two-section-image-right about-us-our-vision col-12">
        <div class="row">
            <div class="col-6 content">
                <h3>Our Vision</h3>
                <p>
                    When going to estate sales, we always love to get to know the owners of the home.
                    We noticed that a lot of the time, they mention how tedious and difficult the
                    process was to start, manage, and finish an estate sale. Estate sales are often
                    needed for a loss in the family, and the pieces they sell are usually priceless
                    treasures that hold sentimental value to the owner of the home. Because of this,
                    it was sad to hear their struggle. We made it our mission to change this,
                    creating <i>A Lifetime of Treasures</i>, seeking to offer everyone a pleasant
                    and seamless experience when the time to start an estate sale comes around.
                </p>
                <a href="/contact">
                    <button class="blue">Contact Us</button>
                </a>
            </div>
            <div class="col-6 image"></div>
        </div>
    </div>
    <div class="two-section-image-left about-us-our-values col-12">
        <div class="row">
            <div class="col-6 image"></div>
            <div class="col-6 content">
                <h3>Our Values</h3>
                <p>
                    At <i>A Lifetime of Treasures</i>, we value family and the community. We also
                    believe in hard work, attention to detail, a warm personality, and taking pride
                    in what we do.
                </p>
                <a href="/contact">
                    <button class="blue">Contact Us</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}