{% extends 'base.html' %}

{% block body %}
    <div class="two-section-image-right estate-sale-overflow col-12">
        <div class="row">
            <div class="col-6 content">
                <h3>Estate Sale Planning</h3>
                <p>
                    Thinking about setting up an estate sale, but not sure where to start? Contact
                    us and we can take that stress off your back: planning, organizing,
                    and managing the entire process.
                </p>
                <a href="/contact" disabled style="opacity: 0;">
                    <button class="gold">Contact Us</button>
                </a>
            </div>
            <div class="col-6 floating-image-container">
                <img src="/static/images/stock/estate_sale_stock.png" alt="">
            </div>
        </div>
    </div>

    <div id="estate-sale-planning-service">
        <h1 class="text-center" style="margin-bottom: 65px;">
            What Estate Sale Planning Includes
        </h1>
        <div id="services">
            <div class="row">
                <div class="service col-4">
                    <p class="title">Cataloging</p>
                    <p class="description">
                        Going through your home and cataloging the things that you wish to get rid
                        of at an estate sale, can be tolling, tedious, and consume much of your
                        time. We will catalog all your assets that you wish to part with so you can
                        sit back and relax.
                    </p>
                </div>
                <div class="service col-4">
                    <p class="title">Inventory Appraisal</p>
                    <p class="description">
                        At <i>A Lifetime of Treasures</i>, we believe we have seen it all: jewelery,
                        furniture, art, clothing, and much more. If you're not sure what the value
                        of one of your items is, let us assist you. It could be more valuable than
                        you think!
                    </p>
                </div>
                <div class="service col-4">
                    <p class="title">Advertisement</p>
                    <p class="description">
                        While setting up your estate sale, we will also advertise the event for you.
                        We use multiple avenues of advertisement such as social media, newspapers,
                        and many other online web sites to maximize the exposure you deserve. We
                        are flexible as well and could use any other platform for advertisement you
                        would like.
                    </p>
                </div>
                <div class="service col-4">
                    <p class="title">Transactions</p>
                    <p class="description">
                        Sold! One of your pieces has been purchased, and you need to be paid of course.
                        We will setup a <b><i>point of sale</i></b> area to maximize your earnings.
                        This includes card readers for secure payment processing from debit and
                        credit cards to your bank. We also have a very keen eye for paper cash,
                        even collecting different kinds as a hobby, so you can rest assured knowing
                        counterfeits will be spotted.
                    </p>
                </div>
                <div class="service col-4">
                    <p class="title">Visitor Assistance</p>
                    <p class="description">
                        Warm personalities, strong soft skills and customer service are core values
                        we have here at <i>A Lifetime of Treasures</i>. During the day of your estate
                        sale, we will make our way around the home, helping potential buyers with
                        any questions they have, while making them feel comfortable to browse your
                        inventory.
                    </p>
                </div>
                <div class="service col-4">
                    <p class="title">Unsold Inventory</p>
                    <p class="description">
                        If you have any unsold property after the duration of your estate sale, we
                        can help you sell it through other third party services and applications.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="two-section-image-left estate-sales-smaller-project col-12">
        <div class="row">
            <div class="col-6 image"></div>
            <div class="col-6 content">
                <h3>Have a Smaller Project?</h3>
                <p class="p-title">OTHER SERVICES WE OFFER</p>
                <p class="p-text">
                    We've all been there, our garage continues to collect things we'd like to save:
                    car parts, old sports equipment, hand me down clothes and one day it can hold
                    no more. In addition to estate sales, we also offer services to help you with
                    smaller projects such as yard sales and garage sales.
                </p>
                <a href="/contact" disabled style="opacity: 0;">
                    <button class="gold">Contact Us</button>
                </a>
            </div>
        </div>
    </div>

    {% include 'snippets/contact-form.html' %}
{% endblock %}